body {
  display: flex;
  align-items: stretch;
  font-family: sans-serif;
  background: white;
  color: black;
  padding: 0%;
  overflow: hidden;
}
.container > img {
  height: auto;
  width: 100%;
  text-align: center;
}
.container > h2{
  align-self: center; 
  text-align: center; 
  font-size: 5vw;
  cursor: pointer;
  position: relative;
  bottom: 10vh;
  right: 0.25vw;
  user-select: none;
  width: 11.5vw;
  border-radius: 1vw;
  border-color: black;
  border-style: solid;
}
.container > h1{
  align-self: center; 
  text-align: center; 
  font-size: 2vw;
  position: relative;
  bottom: 10vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0%;
}
